*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 10rem;
display: flex;
justify-content: center;
background-color: black;
}
#container{
    border: 1px solid black;
    text-align: center;
    width: 25rem;
    border-radius: 2rem;
    background-color: white;
    /* Awesome Box Shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.388),
                0 6px 20px rgba(0, 0, 0, 0.388),
                0 10px 40px rgba(233, 201, 201, 0.188);
}
#img{
    width: 10rem !important;
    margin: 2rem;
}
button{
    width: 8rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-color: black;
    color: gainsboro;
    margin: 2rem;
}
button:hover{
    transform: scale(1.2);
}
@media(max-width:600px){
    body{
        padding-top: 5rem;
    }
    #container{
        width: 15rem;
    }
}